.topnav {
    background-color:  #6495ED ;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 50px;
  }

  .topnav a:hover {
    background-color: #fcfcfc;
    color: black;
  }

  .topnav a.active {
    background-color: #FBC705 ;
    color: white;
  }
  .topnav a.active:hover {
    background-color: #fcfcfc;
    color: black;
  }

  #head_paragraph{
      margin-top: 10px;
      font-size: 100px;
      text-align: center;
      text-transform: uppercase;
      color: #fcfcfc;
  }

 div{
    display: block;
    margin: 0 auto;
    border: 0;
  }

  img{
    margin-top: 5px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:200px;
    height:300px;
    border: 0;
  }

  #my_image{
    display: block;
    margin-left: auto;
    margin-right: 688px;
    margin-bottom: 20px;
    width:180px;
    height:150px;
  }

  button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 660px;
    cursor: pointer;
    background-color:#FBC705;
  }

  button:hover{
    color: #FBC705;
    background-color:white;
  }

  footer{
    margin-top: 30px;
    background-color:white;
    height: 30px;
  }
  footer:hover{
    background-color: #FBC705;
  }

  ul li{
    display: inline-block;
    padding-left: 40px;
    align-items: center;
  }

  body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
  }
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: center;
  }

  footer { 
    position: fixed; 
    top: 90%; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: #fff; 
    min-width: 200px;
} 




  

  

